body{
    font-family: arial;
}

#wrapper{
    width: 800px;
    height: 1000px;
    padding: 20px;
    background-color: blue;

}
#dataBox{
    width: auto;
    align: center;
    height: 920px;
    padding: 40px;
    color: lime;
    background-color: black;
    border: 1px solid lime;
}
    #dataBox img {
        width: 620px;
        height: auto;
        margin-top: 20px;
        margin-left: 50px;
        height: auto;
        padding: 0px;
        border: 2px solid lime;
    }

    #dataBox form {
        width: auto;
        height: 30px;
        /*color: white;*/
        text-align: center;

    }
    #dataBox button{
        display: inline-block;
        /*background-color: indigo;*/
        margin: 15px;
        height: 30px;
        width: 80px;
        color: lime;
        font-size: 12px;
        font-weight: bold;
        border: 2px solid blue;
        border-radius: .5em;
        float:none;
        margin: 0px 15px
    }
