<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas Page</title>
        <link rel="stylesheet" href="static/CSS/stylingNinjasWebsite.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="buttonBlock">
                <form>
                    <button type="submit" formaction="/" formmethod="get" name="NinjasPageLink">Ninjas Landing Page</button>
                    <button type="submit" formaction="/ninjas" formmethod="get" name="NinjasPageLink">Ninja Info</button>
                    <button type="submit" formaction="/dojos/new" formmethod="get" name="DojosPageLink">Dojo Application</button>
                </form>
            </div>
            <p> This is where I keep all of my information about ninjas. </p>
        </div>
    </body>
</html>
