<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        {% csrf_token %}
        <div id="wrapper">
            <div id="dataBox">
<!-- ======================================================================= -->
                <h4>Your Gold: {{ session.gold }}</h4><br>
                <div class="locationBox">
                    <p>Farm</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="farm" />
                        <input type="submit" value="Find Gold">
                    </form>
                </div>
                <div class="locationBox">
                    <p>Cave</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold">
                    </form>
                </div>
                <div class="locationBox">
                    <p>House</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold">
                    </form>
                </div>
                <div class="locationBox">
                    <p>Casino</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold">
                    </form>
                </div>
                <h4>Activities:</h4>
                <div class="activitiesBox">
                    <ul>
                        {% for activity in session.activities %}
                            <li>{{ session.activity }}</li>
                        {% endfor %}
                    </ul>
                </div>
<!-- ======================================================================= -->
            </div>
        </div>
    </body>
</html>
