body{
    font-family: arial;
}

#wrapper{
    width: 800px;
    height: 1000px;
    padding: 20px;
    background-color: blue;

}
#dataBox{
    width: auto;
    align: center;
    height: 920px;
    padding: 40px;
    color: lime;
    background-color: black;
    border: 1px solid lime;
}
    #dataBox img {
        width: 620px;
        height: auto;
        margin-top: 20px;
        margin-left: 50px;
        height: auto;
        padding: 0px;
        border: 2px solid lime;
    }

    #dataBox form {
        width: auto;
        height: 30px;
        /*color: white;*/
        text-align: center;

    }
    #dataBox button{
        display: inline-block;
        background-color: indigo;
        margin: 15px;
        height: 30px;
        width: 80px;
        color: lime;
        font-size: 12px;
        font-weight: bold;
        border: 2px solid blue;
        border-radius: .5em;
        float:none;
        margin: 0px 15px
    }
    .locationBox{
        background-color: green;
        color: yellow;
        padding: 40px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        border: 2px solid black;
        height: 180px;
        width: 180px;
        margin: 15px;
        padding: 10px;
    }
    .locationBox p{
        margin: 40px;
    }

    .locationBox input{
        background-color: gold;
        color: black;
        font-weight: bold;
        font-size: 12px;
        align-self: center;
        text-align: center;
        vertical-align: top;
    }

    .activitiesBox{
        width: 940px;
        height: 400px;
        background-color: white;
        color: black;
        overflow: scroll;
    }
