body{
    font-family: arial;

}

#wrapper{
    width: 900px;
    height: 970px;
    padding: 50px;
    color: black;
    background-color: gold;
    text-align: center;
}

#buttonBox{
    width: 850px;
    height: auto;
    padding: 0px;
    color: black;
    background-color: gold;
    text-align: center;
    border: 1px solid black;
}

    #buttonBox button {
        margin: 10px;
        height: 30px;
        width: 80px;
        vertical-align: top;
        color: white;
        font-size: 12px;
        font-weight: bold;
        background-color: black;
        border: 1px solid white;
        border-radius: .5em;
        display: inline-block;
    }
