<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Word Generator Here!!</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="dataBox">
                <h5 class = "miniHeaderInfo">Random Word (attempt #{{  counter  }})</h5>
                <br>
                <h1 class = "dataInfo">{{  randomWord  }}</h1>
                <br>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="counter" value="{{ counter }}">
                    <input type="submit" name="Generate">
                </form>
                <!-- <button type="submit" onclick="/">Generate</button> -->
            </div>
        </div>
    </body>
</html>
