<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Printing Me</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        {% csrf_token %}
    </head>
    <body>
        <div id="wrapper">
            <div id="dataBox">
<!-- ======================================================================= -->
                <h1>Hello World</h1><br>
<!-- ======================================================================= -->
            </div>
        </div>
    </body>
</html>
