<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="dataBox" color = "purple">
<!-- ======================================================================= -->
                <div class="borderBox">
                    <img src="img/notapril.jpg" />
                </div>
<!-- ======================================================================= -->
            </div>
        </div>
    </body>
</html>
