<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <!-- <link rel="icon" href="{% static 'img/favico.ico' %}" filename='favico.ico' type="image/x-icon"> -->
        <link rel="icon" href="{% static 'img/favicon.ico' %}">

    </head>
    <body>
        <div id="wrapper">
            <div id="dataBox">
                <div class="miniHeaderInfo">
                    <h5>The current time and date:</h5>
                </div>
                <br>
                <div class="dataInfo">
                    <h1>Local Time</h1>
                    <h1>{{ inZoneTime }}</h1>
                    <h1>{{ inZoneDate }}</h1>
                </div>
                <br>
                <div class="dataInfo">
                    <h1>UTC</h1>
                    <h1>{{ currentTime }}</h1>
                    <h1>{{ currentDate }}</h1>
                </div>
            </div>
        </div>
    </body>
</html>
